.center{
    margin-left: 30%;
    margin-top: 10%;
}
input[type="text"]{
    width: 300px;
    height: auto;
    font-size: 20px;
}
:h1 {
    text-align: center;
    text-decoration-color: blue;
    text-underline-position: below;
}